* {
  margin: 0;
  padding: 0;
  font-family: 'Mohave', sans-serif;
}

body {
  background: #070707;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050505;
  gap: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.cabecalho-item {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.estrelas {
  position: absolute;
  inset: 0;
  background: url('../img/estrelas.svg') center;
  background-size: 50%;
  opacity: .6;
  pointer-events: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.hero p {
  max-width: 550px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.hero button {
  padding: 20px 50px;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #E47429;
  background-color: #050505;
  color: #E47429;
  cursor: pointer;
  text-decoration: none;
}

.hero button:hover {
  background-color: #E47429;
  color: #050505;
  transition: all 0.3s ease-in-out;
}

.footer {
  background-color: #050505;
  color: #fff;
  padding: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15); 
}

.footer .conteudo ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 16px;
}

/* css do sistema solar */
.conteudo {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}